body {
    margin-top: 70px;
    font-size: 14px;
}

.dropdown-item{
    font-size: 14px;
}

canvas {
    border: 1px solid rgba(28, 88, 8, 0.199);
    border-radius: 0.375rem;
}

.toolbar .btn-group {
    min-width: 80px;
}